<div class="row row-fix text-center layer1">
  <div class="col-md-10 col-md-offset-1 layer2">
    <div class="layer3">
      <div class="layer4">
        <div class="container">
          <center style="margin-top: 35px;">
            <text id="title">Healthy Alternatives for "</text>
            <text id="ingredient">{{uppercaseFirstLetter(name)}}</text>
            <text id="title">"</text>
            <text id = "alternativeNutrienttest"></text>

          </center>
          </br>
          <div class="text-center">
            <div class="" id="">
              <div ng-show="showItem">
                <a class="padding-text left active" href="" ng-click="showI()" id="viewName">Item View</a>
                <a class="padding-text" href="" ng-click="showC()" id="viewName">Comparison View</a>
              </div>
              <div ng-show="showComparison">
                <a class="padding-text left" href="" ng-click="showI()" id="viewName">Item View</a>
                <a class="padding-text active" href="" ng-click="showC()" id="viewName">Comparison View</a>
              </div>
            </div>
          </div>
          <hr class="hr-search">
          </br>
          <div ng-show="showItem" class="showContainer">
          <center>
              
              <div class="col-md-3" ng-repeat="alternative in alternatives">
                <div class="boxed">

                  <div ng-hide="alternative.flipped" style="height: 90px;
                      background-color: #737373;" >
                    </br>
                    <a href="" ng-click="flip(alternative)" style="text-decoration: none">
                      <text>{{alternative.map_name.toUpperCase()}}</text>
                      </br>
                      <img class="comparisonImg" ng-src="{{alternative.image}}">
                    </a>
                    </br>
                    </br>
                  </div>

                  <div ng-show="alternative.flipped">
                    </br>
                    <a href="" ng-click="flip(alternative)" style="text-decoration: none">
                      <text>{{alternative.map_name.toUpperCase()}}</text>
                      </br>
                      </br>
                      <table id="flipTable" ng-repeat="nutrient in alternative.nutrients">
                        <tr>
                          <th>{{nutrient.name}}</th>
                        </tr>
                        <tr>
                          <td>{{nutrient.value}} {{nutrient.unit}}</td>
                        </tr>
                      </table>
                      </br>
                    </a>
                  </div>

                </div>
              </div>


            </div>
            </center>
          </div>

          <div ng-show="showComparison" class="showContainer">

            <table class="searchV">
              <tr>
                <th></th>
                <th class="th-propertiesSearch" ng-repeat = "alternative in alternatives"> {{uppercaseFirstLetter(alternative.map_name)}} </th> 
              </tr>
              <tr class="tr-propertiesSearch">
                <td>Protein</td>
                <td> {{alternatives[0].nutrients[0].value}} {{alternatives[0].nutrients[0].unit}} </td>
                <td> {{alternatives[1].nutrients[0].value}} {{alternatives[1].nutrients[0].unit}} </td>
                <td> {{alternatives[2].nutrients[0].value}} {{alternatives[2].nutrients[0].unit}} </td>
                <td> {{alternatives[3].nutrients[0].value}} {{alternatives[3].nutrients[0].unit}} </td>
              </tr>
              <tr class="tr-propertiesSearch">
                <td>Fat</td>
                <td> {{alternatives[0].nutrients[1].value}} {{alternatives[0].nutrients[1].unit}} </td>
                <td> {{alternatives[1].nutrients[1].value}} {{alternatives[1].nutrients[1].unit}} </td>
                <td> {{alternatives[2].nutrients[1].value}} {{alternatives[2].nutrients[1].unit}} </td>
                <td> {{alternatives[3].nutrients[1].value}} {{alternatives[3].nutrients[1].unit}} </td>
              </tr>
              <tr class="tr-propertiesSearch">
                <td>Carbohydrates</td>
                <td> {{alternatives[0].nutrients[2].value}} {{alternatives[0].nutrients[2].unit}} </td>
                <td> {{alternatives[1].nutrients[2].value}} {{alternatives[1].nutrients[2].unit}} </td>
                <td> {{alternatives[2].nutrients[2].value}} {{alternatives[2].nutrients[2].unit}} </td>
                <td> {{alternatives[3].nutrients[2].value}} {{alternatives[3].nutrients[2].unit}} </td>
              </tr>
              <tr class="tr-propertiesSearch">
                <td>Fiber</td>
                <td> {{alternatives[0].nutrients[3].value}} {{alternatives[0].nutrients[3].unit}} </td>
                <td> {{alternatives[1].nutrients[3].value}} {{alternatives[1].nutrients[3].unit}} </td>
                <td> {{alternatives[2].nutrients[3].value}} {{alternatives[2].nutrients[3].unit}} </td>
                <td> {{alternatives[3].nutrients[3].value}} {{alternatives[3].nutrients[3].unit}} </td>
              </tr>
              <tr class="tr-propertiesSearch">
                <td>Sugars</td>
                <td> {{alternatives[0].nutrients[4].value}} {{alternatives[0].nutrients[4].unit}} </td>
                <td> {{alternatives[1].nutrients[4].value}} {{alternatives[1].nutrients[4].unit}} </td>
                <td> {{alternatives[2].nutrients[4].value}} {{alternatives[2].nutrients[4].unit}} </td>
                <td> {{alternatives[3].nutrients[4].value}} {{alternatives[3].nutrients[4].unit}} </td>
              </tr>
              <tr class="tr-propertiesSearch">
                <td>Cholesterol</td>
                <td> {{alternatives[0].nutrients[5].value}} {{alternatives[0].nutrients[5].unit}} </td>
                <td> {{alternatives[1].nutrients[5].value}} {{alternatives[1].nutrients[5].unit}} </td>
                <td> {{alternatives[2].nutrients[5].value}} {{alternatives[2].nutrients[5].unit}} </td>
                <td> {{alternatives[3].nutrients[5].value}} {{alternatives[3].nutrients[5].unit}} </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
