@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.social-account-container {
  display: inline-block;
  position: relative;
}

.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.user-profile-picture {
  max-height: 180px;
  min-height: 180px;
  max-width: 100%;
  min-width: 100%;
}

.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.social-button:hover {
  opacity: 0.65;
}

/*PROFILE*/
.profile-hr{
  margin-top: 30px;
  margin-bottom: -6px;
  width: 100%;
}
.profile-hr2{
  width: 100%;
}
.saveProfile-btn{
  float: right;
}
.input-boxHT{
  background-color: rgb(239,239,239);
  border-radius: 2px;
}
.profile-container{
  background-color:rgb(255,255,255); 
  padding-bottom: 30px; 
  margin-top: 60px;
  /*box-shadow: 7px 7px 8px #888888;*/
  /*box-shadow: 4px 5px 10px rgb(231,231,231);*/
  /*box-shadow: 0px 0px 10px rgb(231,231,231);*/
  box-shadow: 0px 0px 12px 1px rgb(231,231,231);
  border-radius: 2px;
  /*margin-bottom: 60px;*/
  padding-left: 0;
  padding-right: 0;
}
.tab-selection{
  background-color: rgb(255,255,255); 
  border-left: 6px solid #DF5D4A;
  height: 35px;
  color: #DF5D4A;
}
.tab-selection1{
  /*background-color: rgb(255,255,255); */
  border-left: 6px solid rgba(223,93,74, 0.6);
  height: 35px;
}
.padding-textSelected{
  margin-left: 15px;
  color: #DF5D4A;
  font-size: 15px;
  font-weight: bold;
}
.padding-textSelected:hover{
  color: #DF5D4A;
  text-decoration: none; 
}
.padding-text{
  color: rgb(78,78,78);
  font-size: 15px;
}
.padding-text:hover{
  color: rgba(78,78,78,0.8);
  text-decoration: none;
}
.margin-tab{
  margin-left: 15px;
}
.row-fix{
  margin-right: 0; 
  margin-left: 0; 
}
.linkUpdatePic{
  color: white !important;
}
.padding-icon{
  padding-right: 10px;
  font-size: 16px;
}

/*ghfhjgfj */
.profileImg-container {
  position: relative;
  margin-bottom: 0;
    /*width: 50%;*/
  margin-top: -10px;
}
.info-container{
  padding-left: 0;
  padding-right: 0;
  /*box-shadow: 3px 3px 5px 6px rgb(231,231,231);*/
  -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
  -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
  box-shadow: 0 0 10px rgba(0,0,0, .65);
  margin-top: -40px;
}
.info-container1{
  padding-right: 0px;
  padding-left: 50px;
}
@media (max-width: 991px){
  .info-container{
    margin-top: 10px;
    /*width: 40%;*/
  }
  .info-container1{
    padding-left: 0px;
    padding-left: 35%;
    padding-right: 35%;
  }
}
@media (max-width: 530px){
  .info-container1{
    padding-left: 0px;
    padding-left: 20%;
    padding-right: 20%;
  }
}

.image {
  opacity: 1;
  display: block;
  /*width: 100%;*/
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
}
.middleOkCancel {
  transition: .5s ease;
  transform: translate(0%, 20%);
}
.text1OkCancel {
  background-color: rgba(43,43,43,0.8);
  color: white;
  font-size: 14px;
  padding: 5px 16px;
}
.text1Ok:hover{
  background-color: rgba(43,43,43,0.9);
  color: green;
}
.text1Cancel:hover{
  background-color: rgba(43,43,43,0.9);
  color: red;
}

.profileImg-container:hover .image {
  opacity: 0.7;
}

.profileImg-container:hover .middle {
  opacity: 1;
}

.text1 {
  background-color: rgba(43,43,43,0.8);
  color: white;
  font-size: 12px;
  padding: 10px 23px;
}
.text1:hover{
  background-color: rgba(43,43,43,0.9);
}

.health-container{
  background-color: rgb(219,219,219);
  border-radius: 2px;
  /*width: 119%;*/
/*  padding-left: 16px;
  padding-right: 24px;*/
  box-shadow: 4px 5px 10px rgb(231,231,231);
}
.HrowContainer{
  padding-left: 9%;
  padding-right: 9%;
}
.health-headerMargin{
  padding-top: 7%;
}
.health-containerBox{
  padding-left: 10%;
  padding-right: 10%;
}

.profileHeading{
  background-color: #AEC86B;
  height: 80px;  
  color: white;
  font-size: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 5%;
  padding-left: 38%;
}
.settingsHeading{
  background-color: #AEC86B;
  height: 80px;  
  color: white;
  font-size: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 5%;
}
.personal-profile{
  margin-top: 25px;
  padding-left: 7%;
  padding-right: 7%;
}

/* ALTERNATIVE VIEW*/
.ingredient-containerL{
  /*background-color: rgb(244,244,244);*/
  padding: 25px 50px 25px 50px;
  box-shadow: 0px 0px 10px rgb(231,231,231);
  border-radius: 2px;
}
.ingredient-containerR{
  background-color: rgba(156,156,156,0.6);
  padding: 25px 50px 25px 50px;
  box-shadow: 0px 0px 10px rgb(231,231,231);
}
.al-h1L{
  color: #383838;
  margin-bottom: 29px;
  font-size: 28px;
}
.al-h1{
  color: #383838;
  margin-bottom: 5px;
  font-size: 28px;
}
.al-containerPaddingL{
  padding: 0px 25px 0 130px;
}
.al-containerPaddingR{
  padding: 0px 130px 0 25px;
}
@media (max-width: 991px){
  .al-containerPaddingL{
    padding: 0px 0 0 0;
  }
  .al-containerPaddingR{
    padding: 50px 0 0 0;
  }
}
.al-row{
  /*margin-top: 50px;*/
  margin-right: 0; 
  margin-left: 0; 
}
.al-tabR{
  float: left;
}
.al-tabL{
  float: right;
}
.al-list{
  list-style-type: none;
  line-height: 230%;
}
.al-list-measureL{
  float: left;
  margin-right: 25px;
  color: rgb(174,200,107);
}

/*BUTTONS*/
.sharp {
  border-radius:2px;
}

.htb {
    /*padding: 5px 24px;*/
    padding: 5px 60px;
    border: 0 none;
    font-size: 16px;
}
.htb:focus, .htb:active:focus, .htb.active:focus {
    outline: 0 none;
}

.htb-primary {
    background: rgb(223,93,74);
    color: #ffffff;
}
.htb-primary:hover, .htb-primary:focus, .htb-primary:active, .htb-primary.active, .open > .dropdown-toggle.htb-primary {
    background: rgba(223,93,74,0.8);
}
.htb-primary:active, .htb-primary.active {
    background: rgba(223,93,74,1);
    box-shadow: none;
}
.al-btnR{
  float: right;
}
.al-btnL{
  float: left;
}


/*SIGN UP & SIGN IN*/
.box-field{
  border-radius: 2px;
  border: 1px solid rgb(174,200,107);
}
.logo-margin{
  margin-top: 50px;
}
.logo-img{
  width: 300px;
  height: 160px;
}
.link-margin{
  margin-top: 30px;
  margin-bottom: 40px;
}
.propertiesA{
  color: rgb(174,200,107);
}
.propertiesA:hover{
  color: rgb(174,200,107);
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  font-size: 17px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  38px; }


/* RECIPE DETAILS CSS */
.heroimage {
  width:100%;
  height:350px;
  /*background: url('http://www.seriouseats.com/images/2015/09/20150914-pressure-cooker-recipes-roundup-09.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*background-size:cover;*/
  /*background-attachment: fixed;*/
}
.heroimage h5 {
  color:white;
  text-shadow:2px 2px #333;
  text-align: center;
  padding-top: 250px;
  font-size: 30px;
  text-transform: capitalize;

}
.savebtn{
	float: right;
  color: rgb(169,169,169);
  margin-bottom: 10px;
}
.savebtn:hover{
  text-decoration: none;
  color: grey;
}
.savebtn-size{
  color: #DF5D4A;
  /*font-size: 24px;*/

}
.recipeDetail{
	text-align: center;
	margin-top: 5%;
}
.heading{
	font-size: 16px;
  padding-top: 35px;
}
.ingDirActive{
  border-bottom: 2px solid #DF5D4A;
  text-align: center;
  font-weight: bold;
}
.ingDirDisable{
  border-bottom: 2px solid gray;
}
.ingDirActive-a{
  text-decoration: none;
}
.text{
	font-size: 15px;
	/*margin-right: 45%;*/
	/*display: inline-block;*/
  /*text-align: left;*/
  line-height: 230%;
  margin-top: 20px;
}
.
hr{
	width: 60%;
	border-width: 1.5px;
	margin-top: 10px;
}
.hr-ingredientes{
  border:none;
  border-top:1.5px dotted rgb(230,230,230);
  color:#fff;
  /*background-color:#fff;*/
  /*height:1px;*/
  width:100%;
}
.ingredient-containerRecipeDetails{
  background-color: rgb(244,244,244);
  text-align: left;
  padding-left: 10%;
  /* padding-bottom: 183px; */
  max-height: 410px;
  min-height: 410px;
  overflow-y:scroll;
  box-shadow: inset 1px -5px 9px -6px #AEC86B;
}
.ingredient-quantity{
  color: #AEC86B;
  font-size: 32px;
  font-weight: bold;
  float: left;
  margin-right: 18px;
}
.directions{
	margin-top: 15px;
}
.direction-list{
	margin-top: 10px;
}
span.glyphicon-time {
    font-size: 1.3em;
}
.verticalLine {
  	/*border-right: 2px solid #ff0000;*/
  	width: 70px;
}
.list{
	list-style-type: none;
  padding: 0px;
}
.glyphicon-ring {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #AEC86B;
  color: #AEC86B;
  display: inline-table;
  text-align: center;
}
.glyphicon-white {
  background: #AEC86B;
  color: white;
  border: 2px solid #AEC86B;
}
.glyphicon-white:hover {
  color: white;
  text-decoration: none;
  background: rgba(174,200,107,0.8);
}
.glyphicon-ring-delete {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #DF5D4A;
  color: #DF5D4A;
  display: inline-table;
  text-align: center;
}
.glyphicon-delete {
  background: #DF5D4A;
  color: white;
  border: 2px solid #DF5D4A;
}
.glyphicon-delete:hover {
  color: white;
  text-decoration: none;
  background: rgba(223,93,74,0.8);
}
.glyphicon-ring-delete .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
  padding-left: 2px;
  top: 0;
}
.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
  padding-left: 2px;
  top: 0;
}
.review-containter{
	/*background-color: currentColor;*/
  /*background-color: rgb(230,230,230);*/
  background-color: #737373;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 9%;
}

.recipePictureR{
  margin-top: 30px;
}
.marginPictureR{
  /*padding-right: 10%;*/
}
@media (min-width: 991px){
  .marginPictureR{
    padding-right: 10%;
  }
}
/*ADD RECIPE*/
.recipeName{
  color: #737373;
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 30px;
}
.floatIng{
  float:right;
}
.widthTdDir{
  width: 345px;
}
.widthTdIng{
  width: 185px;
}
.widthDivDir{
  width:60%;
}

@media (max-width: 991px){
  .floatIng{
    float:none;
  }
  .widthTdDir{
    width: 100%;
  }
  .widthDivDir{
    width:100%;
  }
  .widthTdIng{
    width: 176px;
  }
}


/*SETTINGS VIEW*/
.seven {
  background-color: #013A6B;
  /*background-image: -webkit-linear-gradient(150deg, #AEC86B 35%, #8DB83A 35%);*/
  /*background-image: -webkit-linear-gradient(150deg, #8DB83A 35%, #AEC86B 35%);*/
  background-image: -webkit-linear-gradient(150deg, rgb(244,244,244) 35%, rgb(244,244,244) 35%);
  min-height: 650px;
}

.setting-container {
  margin-top: 35px;
  padding-left: 20%;
  padding-right: 20%;
}

.healthClassifications {
 padding:10px;
 margin:0 0 10px;
 display:block; 
}

.healthClassifications:hover {
 background:#eee;
 cursor:pointer;
}

/*Customize*/
.head-custo{
  text-transform: uppercase;
  width: 65%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 25px;
  background-color: #737373;
  color: #AEC86B;
  font-weight: bold;
}
