<section>
  <center>
    <h1>Customize Recipe</h1>
    </br>
    <p>Select the alternative you would like to use for each given ingredient.</p>
    </br>
    <div ng-repeat="ingredient in ingredients">
      </br>
      <table>
        <thead>
          <th style="width: 50%">Original Ingredient: {{uppercaseFirstLetter(ingredient.name)}}</td>
          <th>Quantity: {{ingredient.quantity}}</td>
          <th style="width: 25%">Units: {{ingredient.units}}</td>
        </thead>
      </table>
      <div class="container">
          <table id="myTable">
            <thead>
              <th ng-repeat="alternative in alternatives[$index]">
                <input ng-hide="alternative.none" type="radio" name="alternative" ng-model="alternative.choice"> 
                  {{alternative.map_name}}
                </input>
                <div ng-show="alternative.none">
                  No alternatives available
                </div>
              </th>
            </thead>
            <tr>
              <td ng-repeat="alternative in alternatives[$index]" ng-hide="alternative.none">
                <table id="insideTable">
                  <thead>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbs</th>
                    <th>Sugar</th>
                  </thead>
                  <tr>
                    <td ng-repeat="nutrient in alternative.nutrients">
                      {{nutrient.value}} {{nutrient.unit}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
      </div>
    </div>
    <br> <br>
    <button class="btn btn-success">SAVE</button>
  </center>
</section>

<style>
  th {
    color: #DF5D4A;
    border: 1px solid #AEC86B;
    padding: 5px;
  }

  td {
    background-color: white;
    color: #8CD4C9;
    border: 1px solid #AEC86B;
    padding: 5px;
  }

  table {
    /*color: #F9C078;*/
    background-color: white;
    border: 2px solid #AEC86B;
    width: 60%;
    margin-left: 0px;
  }

  p {
    color: gray;
    /*margin-left: 450px;*/
  }

  #insideTable {
    margin-left: 12px;
  }

  #collapseBTN {
    /*margin-left: 525px;*/
  }
</style>