<div class="row text-center" style="background-color:rgb(230,230,230)">
  <div class="col-md-10 col-md-offset-1" style="background-color:rgb(244,244,244)">
    <div class="" style="padding-left: 3%; padding-right: 3%;">
      <div style="background-color:rgb(255,255,255); box-shadow: 4px 5px 10px rgb(231,231,231); padding-bottom: 65px;">
        <div>
          <h5>{{recipe.name}}</h5>
        </div>
<!--         <div>
          <div class="">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
              {{recipe.time}} mins | Total
          </div>
        </div> -->
        <div class="container-fluid" style="padding-left: 50px; color: rgb(169,169,169)">
          <div class="col-md-2 col-md-offset-2">
            <div style="float:right; text-transform: capitalize; ">  
              <img src="../modules/users/client/img/addRecipe/cooking-style.png" style="height: 25px; width: 25px; margin-right: 4px;">  
              <!-- <div style="font-weight:bold; margin-top: 0px; margin-bottom: 5px"> -->
                {{recipe.cookingStyle}}
              <!-- </div>                     -->
            </div>
          </div>
          <div class="col-md-2">
            <div style="border-right: 2px solid rgb(169,169,169); border-left: 2px solid rgb(169,169,169); ">   
              <img src="../modules/users/client/img/addRecipe/timer.png" style="height: 20px; width: 20px; margin-right: 4px;">{{recipe.time}} mins                                 
            </div>
          </div>
          <div class="col-md-2" style=" padding-left: 0px; padding-right: 20px;">
            <div style="border-right: 2px solid rgb(169,169,169); margin-left: -13px;">      
              <img src="../modules/users/client/img/addRecipe/plates.png" style="height: 25px; width: 25px; margin-right: 4px;">
              <img class="card-icon" ng-show="recipe.healthClassifications.glutenFree" src="./modules/core/client/img/healthClassifications/glutenFree.png">
                <img class="card-icon" ng-show="recipe.healthClassifications.noSugar" src="./modules/core/client/img/healthClassifications/noSugar.png">
                <img class="card-icon" ng-show="recipe.healthClassifications.lowFat" src="./modules/core/client/img/healthClassifications/lowFat.png">
                <img class="card-icon" ng-show="recipe.healthClassifications.vegan" src="./modules/core/client/img/healthClassifications/vegan.png">
                <img class="card-icon" ng-show="recipe.healthClassifications.lowCalorie" src="./modules/core/client/img/healthClassifications/lowCalorie.png">                             
            </div>                    
          </div>
          <div class="col-md-2" style="padding-left: 10px;">
            <div style="float:left;">   
              <img src="../modules/users/client/img/addRecipe/rate.png" style="height: 20px; width: 20px; margin-right: 4px;">              
                Stars
              <!-- <div class="acidjs-rating-stars">
                <form id="rating">
                    <input ng-click="getStars(5)" type="radio" name="group-1" id="group-1-0" value="5"/><label for="group-1-0"></label>
                    <input ng-click="getStars(4)" type="radio" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label>
                    <input ng-click="getStars(3)" type="radio" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label>
                    <input ng-click="getStars(2)" type="radio" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label>
                    <input ng-click="getStars(1)" type="radio" name="group-1" id="group-1-4" value="1" /><label for="group-1-4"></label>
                </form>
              </div> -->                    
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 50px">
          <div class="col-md-6" style="padding-left: 10%;" >
            <div style="background-color:rgb(244,244,244); text-align:left; padding-left: 10%;">
              <div class="heading">
                Ingredients
              </div>
              <div class="text">
                <ul class="list" style="padding-right: 17%;">
                  <li ng-repeat="ingredient in recipe.ingredients">
                    <p class="ingredient-quantity">{{ingredient.quantity}}</p> {{ingredient.units}} of {{ingredient.name}}
                    <hr class="hr-ingredientes">
                  </li>

                </ul>
                
              </div>
            </div>  
          </div>
          <div class="col-md-6" style="padding-right: 10%;">
            <div style="margin-left: -46px; margin-top: 20px;">
              <img class="heroimage" src="http://www.seriouseats.com/images/2015/09/20150914-pressure-cooker-recipes-roundup-09.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ########################## -->
<!-- <div class="heroimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>{{recipe.name}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="recipeDetail">
  <div>
    <div class="heading">
      Ingredients
    </div>
    <hr>
    <div class="text">
      <ul class="list">
        <li ng-repeat="ingredient in recipe.ingredients">
          {{ingredient.quantity}} {{ingredient.units}} of {{ingredient.name}}
        </li>
      </ul>
      
    </div>
  </div>  

  <div class="directions">
    <div class="heading">
      Directions
    </div>
    <hr>
    <div style="margin-left: 29%;">
      <div class="verticalLine">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
        {{recipe.time}} min | Total
      </div>
    </div>
    <div class="text">
      <ul class="list">
        <li class="direction-list"> 
          Cooking style: <u>{{recipe.cookingStyle}}</u> 
        </li>
        <li ng-show="showDirections" class="direction-list" ng-repeat="directions in recipe.directionsList">
          <div class="glyphicon-ring glyphicon-white"> 
            {{$index + 1}}
          </div> 
          {{directions.directions}} 
        </li>
        <li ng-hide="showDirections" class="direction-list">
          <div>No directions available</div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="review-containter">
  <div>
    <div class="heading">
      Review
    </div>
    <hr>
    
  </div>
  
</div>

 -->

<!-- <section>
  <div class="page-header">
    <h1>Recipedetails</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="recipedetail in vm.recipedetails"
       ui-sref="recipedetails.view({ recipedetailId: recipedetail._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="recipedetail.created | date:'mediumDate'"></span>
        by
        <span ng-if="recipedetail.user" ng-bind="recipedetail.user.displayName"></span>
        <span ng-if="!recipedetail.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="recipedetail.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.recipedetails.$resolved && !vm.recipedetails.length">
    No Recipedetails yet, why don't you <a ui-sref="recipedetails.create">create one</a>?
  </div>
</section>
