<div class="row" style="background-color:rgb(230,230,230)">
  <div class="col-md-10 col-md-offset-1" style="background-color:rgb(244,244,244)">
    <div class="" style="padding-left: 3%; padding-right: 3%;">
      <div style="background-color:rgb(255,255,255); box-shadow: 4px 5px 10px rgb(231,231,231); padding-bottom: 65px;">
        <div class="row row-fix">
          <div class="col-md-8 col-md-offset-2 profile-container" style="">  
            <div class="profileHeading">Profile</div>
            <div class="col-md-4 info-container1">
              <div class="info-container">
                        <form class="signin">
                <fieldset>
                  <div class="form-group profileImg-container">
                    <img ngf-src="vm.fileSelected ? picFile : vm.user.profileImageURL" alt="{{vm.user.displayName}}" class="user-profile-picture image" ngf-drop>
                    <div ng-show="!vm.fileSelected" class="middle">
                      <div class="text1"><span class="glyphicon glyphicon-camera" style="margin-right:3px"></span> <a class="linkUpdatePic" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Update Picture</a></div>
                    </div>
                    <div ng-show="vm.loading" class="form-group text-center">
                      <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
                    </div>
                    <div ng-show="vm.fileSelected" class="text-center form-group middleOkCancel">
                      <a class="text1OkCancel text1Ok" ng-click="vm.upload(picFile)"><span class="glyphicon glyphicon-ok"></span></a>
                      <a class="text1OkCancel text1Cancel" ng-click="vm.fileSelected = false"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                  </div>
                
                </fieldset>
              </form>

              <div style="background-color: rgb(239,239,239);">
                <div ng-show="personalProfile">
                  <!--TODO: MAKE THE TEXT OF THIS NAVIGATION BIGGER BIGGER-->
                  <div class="tab-selection" style="padding-top:7px">
                    <a class="padding-textSelected" href="" ng-click="personal()" id="viewName"><span class="glyphicon glyphicon-user padding-icon"></span> Personal</a>
                  </div>
                  <div class="tab-selection1" style="padding-top:7px">
                    <a class="padding-text margin-tab" href="" ng-click="health()" id="viewName"><span class="glyphicon glyphicon-heart padding-icon"></span>Health</a>
                  </div>
                  
                </div>
                <div ng-show="healthProfile">
                  <div class="tab-selection1" style="padding-top:7px">
                    <a class="padding-text margin-tab" href="" ng-click="personal()" id="viewName"><span class="glyphicon glyphicon-user padding-icon"></span>Personal</a>
                  </div>
                  <div class="tab-selection" style="padding-top:7px">
                    <a class="padding-textSelected" href="" ng-click="health()" id="viewName"><span class="glyphicon glyphicon-heart padding-icon"></span> Health</a>
                  </div>
                </div>
              </div> 
              </div>   
            </div>
            <!--END PROFILE PICTURE 

            PERSONAL PROFILE INPUTS-->
            <div class="col-md-8">
              <div ng-show="personalProfile">
                <div class="personal-profile">
                  <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" 
                      class="signin" novalidate autocomplete="off">
                    <fieldset>
                      <div class="form-group" show-errors>
                        <label for="firstName" class="">First Name</label>
                        <div class="">
                          <input type="text" id="firstName" name="firstName" class="form-control input-boxHT" style=""
                              ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
                        </div>

                        <div ng-messages="vm.userForm.firstName.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">First name is required.</p>
                        </div>
                      </div>

                      <div class="form-group " show-errors>
                        <label for="lastName" class="">Last Name</label>
                        <div class="">
                          <input type="text" id="lastName" name="lastName" class="form-control input-boxHT" style=""
                              ng-model="vm.user.lastName" placeholder="Last Name" required>
                        </div>

                        <div ng-messages="vm.userForm.lastName.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Last name is required.</p>
                        </div>
                      </div>
                      <!--
                      <div class="form-group" show-errors>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
                        <div ng-messages="vm.userForm.email.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Email address is required.</p>
                          <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                        </div>
                      </div>
                    -->
                      <div class="form-group" show-errors>
                        <label for="username" class="">Username</label>
                        <div class="">
                          <input type="text" id="username" name="username" class="form-control input-boxHT" style=""
                            ng-model="vm.user.username" placeholder="Username" lowercase required>
                        </div>

                        <div ng-messages="vm.userForm.username.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Username is required.</p>
                        </div>
                      </div>
                      <hr class="profile-hr">
                      <hr class="profile-hr2">
                      <div class="saveProfile-btn">
                        <button type="submit" class="htb htb-primary btn-lg sharp">Save Profile</button>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
              <div ng-hide="personalProfile">
                <div style="margin-top:20px">
                  <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" 
                    class="signin" novalidate autocomplete="off">
                    <fieldset class="container" style="border-bottom: none">
                      <div class="row HrowContainer">
                        <div class="allergiesContainer">
                          <div class="health-container text-center health-containerL">
                            <h3 class="health-headerMargin">Allergies</h3>
                            <div class="row form-group health-containerBox">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="corn" name="corn" ng-model="vm.user.allergies.corn">
                                  <div><label for="allergies">Corn</label></div>
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="milk" name="milk" ng-model="vm.user.allergies.milk">
                                  <div><label for="allergies">Milk</label></div>
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="wheatGluten" name="wheatGluten" ng-model="vm.user.allergies.wheatGluten">
                                  <div><label for="allergies">Wheat Gluten</label></div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="peanuts" name="peanuts" ng-model="vm.user.allergies.peanuts">
                                  <div><label for="allergies">Peanuts</label></div>
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="shellfish" name="shellfish" ng-model="vm.user.allergies.shellfish">
                                  <div><label for="allergies">Shellfish</label></div>
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="fish" name="fish" ng-model="vm.user.allergies.fish">
                                  <div><label for="allergies">Fish</label></div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="soy" name="soy" ng-model="vm.user.allergies.soy">
                                  <div><label for="allergies">Soy</label></div>
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="treeNuts" name="treeNuts" ng-model="vm.user.allergies.treeNuts">
                                  <div><label for="allergies">Tree Nuts</label></div>
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="eggs" name="eggs" ng-model="vm.user.allergies.eggs">
                                  <div><label for="allergies">Eggs</label></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row HrowContainer">
                        <div class="dietContainer">
                          <div class="health-container text-center health-containerR">
                            <h3 class="health-headerMargin">Diet</h3>
                            <div class="row form-group health-containerBox">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="vegan" name="vegan" ng-model="vm.user.dietaryDefinitions.vegan">
                                  <div><label for="diet">Vegan</label></div>
                                  
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="ovoVegetarian" name="ovoVegetarian" ng-model="vm.user.dietaryDefinitions.ovoVegetarian"> 
                                  <div><label for="diet">Ovo-vegetarian</label></div>
                                  
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="pescetarian" name="pescetarian" ng-model="vm.user.dietaryDefinitions.pescetarian">
                                  <div><label for="diet">Pescetarian</label></div>
                                  
                                </div>
                                <div class="form-group">
                                  <input type="checkbox" id="lactoOvoVegetarian" name="lactoOvoVegetarian" ng-model="vm.user.dietaryDefinitions.lactoOvoVegetarian">
                                  <div><label for="diet">Lacto-ovo-vegetarian</label></div>
                                  
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="lactoVegetarian" name="lactoVegetarian" ng-model="vm.user.dietaryDefinitions.lactoVegetarian">
                                  <div><label for="diet">Lacto-vegetarian</label></div>
                                </div>
                              </div>
                            </div>
                          </div>  
                        </div>
                      </div>
                      <div class="row HrowContainer">
                        <div class="preferencesContainer">
                          <div class="health-container text-center health-containerL">
                            <h3 class="health-headerMargin">Preferences</h3>
                              <div class="row form-group health-containerBox">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <input type="checkbox" id="preferences" name="preferences" ng-model="vm.user.preferences.cholesterol">
                                    <div><label for="preferences">Cholesterol</label></div>
                                    
                                  </div>
                                  <div class="form-group">
                                    <input type="checkbox" id="diabetes" name="diabetes" ng-model="vm.user.preferences.diabetes">
                                    <div><label for="preferences">Diabetes</label></div>
                                    
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <input type="checkbox" id="lowFat" name="lowFat" ng-model="vm.user.preferences.lowFat">
                                    <div><label for="preferences">Low Fat</label></div>
                                  </div>
                                  <div class="form-group">
                                    <input type="checkbox" id="bland" name="bland" ng-model="vm.user.preferences.bland">
                                    <div><label for="preferences">Bland</label></div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <input type="checkbox" id="lowSalt" name="lowSalt" ng-model="vm.user.preferences.lowSalt">
                                    <div><label for="preferences">Low Salt</label></div>
                                  </div>
                                  <div class="form-group">
                                    <input type="checkbox" id="lowCalories" name="lowCalories" ng-model="vm.user.preferences.lowCalories">
                                    <div><label for="preferences">Low Calories(< 400)</label></div>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row HrowContainer">
                        <div class="religiousContainer">
                          <div class="health-container text-center">
                            <h3 class="health-headerMargin">Religious Restrictions</h3>
                            <div class="row form-group health-containerBox">
                              <div class="col-md-4">
                                <div class="form-group">  
                                  <input type="checkbox" id="religiousRestrictions" name="religiousRestrictions" ng-model="vm.user.religiousRestrictions.hindu" autofocus>
                                  <div><label for="religiousRestrictions">Hindu</label></div>
                                  
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="Islam" name="Islam" ng-model="vm.user.religiousRestrictions.Islam">
                                  <div><label for="religiousRestrictions">Islam</label></div>
                                  
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input type="checkbox" id="kosher" name="kosher" ng-model="vm.user.religiousRestrictions.kosher">
                                  <div><label for="religiousRestrictions">Kosher</label></div>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <!--<div class="form-group">
                        <label for="weight">Weight:</label>
                        <input type="text" id="weight" name="weight" class="form-control" style="width:50%"
                          ng-model="vm.user.weight" placeholder="Weight" autofocus>
                      </div>-->
                      <hr class="profile-hr">
                      <hr class="profile-hr2">
                      <div class="saveProfile-btn">
                        <button type="submit" class="htb htb-primary btn-lg sharp">Save Profile</button>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    



